@import '~variables.scss';

.loading-organizer {
	font-size: small;
}

.member-icon {
	color: $primary-7;
	margin-right: .25em;
}

.not-member-icon {
	color: lightgray;
	margin-right: .25em;
}

.not-found-content {
	margin-top: 3em;
	text-align: center;
}

.owner-icon {
	color: $primary-7;
	font-size: small;
	margin-right: .25em;
}

.trade-info {
	padding: .25em .5em 0em 0em;
}
