<app-page-title [template]="(itemHref ? 'existing' : 'new') + '-item'"></app-page-title>
<app-message [message]="message"></app-message>
<app-loading [loading]="loading" [containerHeight]="15" [imageHeight]="5"></app-loading>

<form *ngIf="!loading" [formGroup]="itemFormGroup" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label" for="item-name">Name</label>
    <div class="control">
      <input
        id="item-name"
        class="input"
        [formControl]="itemFormGroup.controls['name']"
        type="text"
        placeholder="Item name">
    </div>
    <p class="help is-danger" *ngIf="!nameFormControl.valid && nameFormControl.touched">
      <i class="fa fa-warning"></i>Item name is mandatory and its length must be between 3 and 150.
    </p>
  </div>

  <div class="mt-cmd-panel-container">
    <button 
      class="mt-cmd-panel-first button is-primary"
      type="button"
      (click)="navigateBack()">
      <i class="fa fa-backward" aria-hidden="true"></i>Back
    </button>
    <button
      class="mt-cmd-panel-last button is-primary"
      id="save-item-button"
      type="submit"
      [disabled]="(itemFormGroup.valid && itemFormGroup.dirty) ? null : 'disabled'">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>Save
    </button>	
  </div>

</form>
