<app-page-title [template]="(itemHref ? 'existing' : 'new') + '-item'"></app-page-title>
<app-message [message]="message"></app-message>
<app-loading [loading]="loading" [containerHeight]="15" [imageHeight]="5"></app-loading>

<div class="mt-content">
<form *ngIf="!loading" [formGroup]="itemFormGroup" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label" for="item-name">Name</label>
    <div class="control">
      <textarea
        class="textarea"
        id="item-name"
        autosize
        rows=1
        (keydown.enter)="onSubmit()"
        [formControl]="itemFormGroup.controls['name']"
        placeholder="Item name"></textarea>
    </div>
    <p class="help is-danger" *ngIf="!nameFormControl.valid && nameFormControl.touched">
      <i class="fa fa-warning"></i>Item name is mandatory and its length must be between 3 and 150.
    </p>
  </div>
  <div class="field">
    <label class="label" for="item-description">Description</label>
    <div class="control">
      <textarea
        class="input"
        id="item-description"
        autosize
        rows=3
        [formControl]="itemFormGroup.controls['description']"
        placeholder="Item description. Please, add the condition and details worth mentioning."></textarea>
    </div>
    <p class="help is-danger" *ngIf="!descriptionFormControl.valid">
        <i class="fa fa-warning"></i>Item description cannot be greater than 500 characters in length.
      </p>    
	</div>
	<div class="file-upload">
		<app-file-upload [initialFiles]="files" (onChange)="onFileUploadChange($event)"></app-file-upload>
	</div>
  <div class="mt-cmd-panel-container">
    <button 
      class="mt-cmd-panel-first button is-primary"
      type="button"
      (click)="navigateBack()">
      <i class="fa fa-backward" aria-hidden="true"></i>Back
    </button>
    <button
      class="mt-cmd-panel-last button is-primary"
      id="save-item-button"
      type="submit"
      [disabled]="saveButtonDisabledAttribute()">
      <i class="fas fa-save" aria-hidden="true"></i>Save
    </button>	
  </div>
</form>
</div>
