<app-page-title [template]="'welcome'"></app-page-title>
<p class='double-spacing-centered'>
  Welcome to Match and Trade website, here you can create or join an existing
  <a (click)='navigateToTradeList()' (keyup.enter)='navigateToTradeList()' tabindex="1">Trade</a> and exchange
  items with other people.
</p>
<p class='double-spacing-centered' *ngIf="!isSignedIn()">
  <a (click)='signInWithGoogle()' (keyup.enter)='signInWithGoogle()' tabindex="1"> Sign-in with Google</a> to get started.
</p>

<img id="welcome-img" src="/assets/images/matchandtrade-logo.svg">