@import '~variables.scss';

$container-height: 46px;
$container-height-trashold: 44px;
// ==============
// Navigation Bar
// ==============
.navigation-bar {
	background: linear-gradient($primary-5, $primary-5 $container-height-trashold, $primary-7 $container-height-trashold, $primary-7 $container-height);
	color: white;
}

// ============
// Desktop Menu
// ============
.menu-container {
	display: flex;
}

.menu-item {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 10px 10px 0px 10px;
	svg {
		fill: transparent;
	}
}

.menu-item:hover {
	background-color: $primary-7;
	cursor: pointer;
}

.menu-item:focus, .menu-item-burger:focus {
	outline: rgba(255, 0, 0, .5);
	background: linear-gradient($primary-6, $primary-6 $container-height-trashold, $primary-7 $container-height-trashold, $primary-7 $container-height);
}

.menu-item-filler {
	flex: 2;
}

.menu-pointer {
	height: 8px;
	width: 26px;
	margin: 4px 0px 0px 0px;
}

// ===========
// Mobile Menu
// ===========
.active {
	i {
		color: white;
	}
	svg {
		fill: #fafafa;
	}
	svg #menu-pointer-border {
		stroke: $primary-7;
		stroke-width: 2px;
	}
}

.burger-menu-item {
	background-color: $primary-6;
	border-bottom: 2px solid $primary-7;
	padding: 8px 0px 8px 0px;
	color: white;
	i {
		color: $primary-6;
		margin: 0em .5em 0em 1em;
	}
}

.burger-menu-item.active {
	i {
		color: white;
	}
}

.burger-menu-item:hover {
	background-color: $primary-5;
	cursor: pointer;
	i {
		color: $primary-7;
	}
}

.menu-item-burger {
	padding: 9px 15px 0px 15px;
	font-size: larger;
}
