<nav
  class="navbar is-primary"
  role="navigation"
  aria-label="main navigation"
  (window:resize)="onResize(navigationBar)"
  #navigationBar>

  <div class="navbar-brand" *ngIf="!isSmallScreenSize()">
    <a class="navbar-item" (click)="onMatchAndTrade()" (keyup.enter)="onMatchAndTrade()" tabindex="1">
      <span class="router-link">Match and Trade</span>
    </a>
    <a id="navbar-trades" [class]="'navbar-item' + navbarTradesClass()" (click)="onTrades()" (keyup.enter)="onTrades()" tabindex="1">
      <span class="router-link">Trades</span>
    </a>
    <a id="navbar-my-account" [class]="'navbar-item' + navbarMyAccountClass()" *ngIf="authenticated" (click)="onMyAccount()" (keyup.enter)="onMyAccount()" tabindex="1">
      <span class="router-link">My Account</span>
    </a>
    <a id="navbar-sign" [class]="'navbar-item' + navbarSignClass()" (click)="onSign()" (keyup.enter)="onSign()" tabindex="1">
      <span class="router-link">{{signText()}}</span>
    </a>
  </div>

  <div class="navbar-brand" *ngIf="isSmallScreenSize()">
    <a class="navbar-item" (click)="onMatchAndTrade()" (keyup.enter)="onMatchAndTrade()">
			<span class="router-link">Match and Trade</span>
    </a>
    <button class="button navbar-burger is-primary" (click)="onBurgerMenu()" tabindex="1">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div [ngClass]="burgerClass">
    <div [class]="'burger-item router-link' + navbarTradesClass()" (click)="onBurgerMenu('/trade-list')" tabindex="1"><i class="fa fa-caret-right"> </i> Trades</div>
    <div [class]="'burger-item router-link' + navbarMyAccountClass()" *ngIf="authenticated" (click)="onBurgerMenu('/my-account')" tabindex="1"><i class="fa fa-caret-right"> </i> My Account</div>
    <div [class]="'burger-item router-link' + navbarSignClass()" (click)="onBurgerMenu('/sign-in')" tabindex="1"><i class="fa fa-caret-right"> </i> {{signText()}}</div>
  </div>

</nav>
