@import '~variables.scss';

.burger-menu-inactive {
    width: 100%;
    display: none;
}

.burger-menu-active {
    display: block;
}

.burger-item {
  cursor: pointer;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: rgba(0, 0, 0, 0.1);
}

.burger-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#navbar-my-account-avatar::after {
  content: "\F2BE"; 
  font-family: FontAwesome;
  font-size: 1.5em;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}