<div [style.width.px]="size" [style.height.px]="size" [class]="classAttachmentThumbnail()">
  <a *ngIf="isAttachmentStatusStored()" (click)="openAttachment()">
    <img *ngIf="getThumbnailUrl()" src="{{getThumbnailUrl()}}" (error)="onError($event)">
    <p *ngIf="displayName()">{{obtainName()}}</p>
  </a>
  <p *ngIf="isAttachmentStatusUploading()">
    Uploading...<br><i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;{{attachment.percentageUploaded}}%
  </p>
  <p *ngIf="isAttachmentStatusReading()">
    Reading file...<br><i class="fas fa-spinner fa-pulse"></i>
  </p>
  <p *ngIf="isAttachmentStatusError()">
    {{attachment.error}}
  </p>
</div>
<app-image-modal
  *ngIf="isAttachmentStatusStored()"
  [isActive]="isAttachmentOpen()"
  [imageSource]="getOriginalUrl()"
  (onClose)="closeAttachment($event)">
</app-image-modal>
