@import '~variables.scss';

.attachment-thumbnail {
  align-items: center;
	background-color: $primary-1;
  border: 1px solid grey;
  display: flex;
  font-size: x-small;
  justify-content: center;
  text-align: center;
}

.attachment-thumbnail a {
  display: grid;
}

// STATUS
// ======
.NOT-AVAILABLE {
	background-color: $primary-2;
  border-color: $primary-5;
  color: $primary-7;
}

.ERROR {
	background-color: lightpink;
	border-color: darkred;
	color: darkred;
}

.READING {
	background-color: lightskyblue;
	border-color: $secondary-7;
	color: $secondary-7;
}

.LOADING {
	background-color: $primary-2;
  border-color: $primary-5;
  color: $primary-4;
}

.STORED {
	background-color: $primary-1;
	border-color: silver;
}

.UPLOADING {
	background-color: $primary-2;
	border-color: $primary-5;
}
