@import '../../../../styles/variables.scss';

:host {
	display: block;
}

.attachment-uploader-container {
	display: flex;
	justify-content: center;
}

.attachment-uploader {
	border: 1px solid silver;
	border-radius: 3px;
	color: $gray-400;
	cursor: pointer;
	padding: 5px 0 5px 0;
	text-align: center;
	width: 128px;
}

.attachment-uploader p {
	margin: .25em;
}

.attachment-uploader.attachment-uploader-dragging {
	background-color: $primary-color-100;
}

.attachment-uploader-text {
	font-size: small;
}