<div class="attachment-uploader-container">
  <span [class]="classUploadAttachment()"
    (drop)="onUploadAttachmentDrop($event)"
    (dragenter)="onUploadAttachmentDraging($event)"
    (dragexit)="onUploadAttachmentDragexit($event)"
    (dragover)="onUploadAttachmentDraging($event)"
    (click)="onUploadAttachmentClick($event)">
    <p><i class="material-icons">add_a_photo</i></p>
    <p class="attachment-uploader-text">Upload images</p>
  </span>
</div>

<input #inputFileElement class="mt-hide" type="file" accept="image/png, image/jpeg, image/gif" (change)="onLoadImage($event)"/>
