@import '~variables.scss';

.box {
	margin: 1em 0em 1em 0em;
	padding: .5em .5em .5em .5em;
}

.clear-floating {
	clear: left;
}

.item-details {
	width: auto;
	float: none;
}

.item-controls {
	color: $primary-5;
	margin-top: .8em;
}

.item-thumbnail {
	float: left;
	margin-right: .5em;
	width: 64px;
}

.figure-thumbnail {
	background-color: $primary-3;
	color: $primary-7;
	font-size: x-small;	
	padding: 1em .2em .2em .2em;
	text-align: center;
}

.small-button-text {
	margin-left: .5em;
}