@import '~variables.scss';

.not-found-content {
	margin-top: 3em;
	text-align: center;
}

.button i {
	margin-right: .5em;
}

// ============
// ITEM SUMMARY
// ============
.item-row {
	display: flex;
}

.item-summary {
	margin: -.25em 0em 0em .5em;
	display: flex;
	flex-direction: column;
}

.item-controls {
	flex: 0 0 auto;
}

.item-name {
	flex: 1 1 auto;
}

// =========
// THUMBNAIL
// =========
.thumbnail {
	background-color: $primary-2;
	border: 1px solid silver;
	color: $primary-7;
	flex: 0 0 auto;
	font-size: x-small;
	height: 64px;
	text-align: center;
	width: 64px;
}

.thumbnail p {
	margin: 1em .5em 1em .5em;
}

.thumbnail span {
	display: block;
	margin: 30% 0% 0% 0%;
}
