<app-page-title [template]="'item-matcher-list'"></app-page-title>
<app-message [message]="message"></app-message>
<app-loading [loading]="loading"></app-loading>

<div *ngIf="!loading && !pagination.totalEntries" class="not-found-content mt-content">
		<p>No items for matching.</p>
		<p>Other members didn't submit items <i class="fa fa-frown-o" aria-hidden="true"></i></p>
</div>

<div *ngIf="!loading && pagination.totalEntries" class="mt-content">
	<table class="table mt-table is-striped is-fullwidth">
		<tr *ngFor="let item of items"><td>
			<div class="item-row">
				<div [class]="classForThumbnail(item)">
          <p *ngIf="displayLoadingThumbnail(item)"><i class="fas fa-spinner fa-pulse fa-2x fa-fw"></i></p>
          <app-attachment-thumbnail [attachment]="obtainAttachment(item)" [size]="64"></app-attachment-thumbnail>
				</div>
				<div class="item-summary">
					<div class="item-name">
						{{item.name}}
					</div>
					<div class="item-controls">
						<button class="button is-secondary is-small" type="button" (click)="navigateToOffer(item)">
							<i class="fas fa-thumbs-up"></i><span class="small-button-text">I Want</span>
						</button>
						<button class="button is-secondary is-small" type="button" (click)="toogleItemMiniView(item)">
							<i class="fas fa-info"></i><span class="small-button-text">{{obtainInfoText(item)}}</span>
						</button>
					</div>
				</div>
			</div>

			<app-item-mini-view *ngIf="item.displayItemMiniView" [itemHref]="item.href" class="item-mini-view"></app-item-mini-view>

		</td></tr>
	</table>

	<app-pagination
		[loading]="loading"
		[pagination]="pagination"
		(onGoToPage)="goToPage($event)">
	</app-pagination>

	<div class="mt-cmd-panel-container">
		<button 
			class="mt-cmd-panel-first button is-primary"
			type="button"
			(click)="navigateBack()">
			<i class="fa fa-backward" aria-hidden="true"></i>Back
		</button>
	</div>

</div>
