<app-page-title [template]="'item-matcher-list'"></app-page-title>
<app-message [message]="message"></app-message>
<app-loading [loading]="loading" [containerHeight]="15" [imageHeight]="5"></app-loading>

<div *ngIf="!loading && !pagination.totalEntries" class="not-found-content mt-content">
		<p>No items for matching.</p>
		<p>Other members didn't submit items <i class="fa fa-frown-o" aria-hidden="true"></i></p>
</div>

<div *ngIf="!loading && pagination.totalEntries" class="mt-content">
	<table class="table mt-table is-striped is-fullwidth">
		<tr *ngFor="let item of items"><td>
			<figure *ngIf="!item.thumbnailLoaded" class="pull-left thumbnail thumbnail-loading image is-64x64">
				<div><i class="fas fa-spinner fa-pulse fa-3x fa-fw"></i></div>
			</figure>
			<figure *ngIf="item.thumbnailLoaded && item.thumbnailUrl" class="pull-left thumbnail image is-64x64">
				<img src="{{item.thumbnailUrl}}">
			</figure>
			<figure *ngIf="item.thumbnailLoaded && !item.thumbnailUrl" class="pull-left thumbnail-not-available image is-64x64">
				<p>Thumbnail not available</p>
			</figure>

			<div>{{item.name}}</div>
			<div class="item-controls">
				<button class="button is-primary is-small" type="button" (click)="navigateToOffer(item)">
					<i class="fa fa-thumbs-up" aria-hidden="true"></i><span class="small-button-text">I Want</span>
				</button>
			</div>
		</td></tr>
	</table>

	<app-pagination
		[loading]="loading"
		[pagination]="pagination"
		(onGoToPage)="goToPage($event)">
	</app-pagination>

	<div class="mt-cmd-panel-container">
		<button 
			class="mt-cmd-panel-first button is-primary"
			type="button"
			(click)="navigateBack()">
			<i class="fa fa-backward" aria-hidden="true"></i>Back
		</button>
	</div>

</div>
