@import '~variables.scss';

.error-message {
	text-align: center;
}

// FILE
// ====
.file {
	margin-bottom: .5em;
}

.file-cta {
	background-color: $secondary-5;
	color: white;
}

.file-cta:hover {
	background-color: $secondary-6;
	color: white;
}

.file-cta.disabled {
	background-color: gainsboro;
	color: greay;
	cursor: not-allowed;
}

.file-label.disabled {
	cursor: not-allowed;
}

.gallery  {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

// THUMBNAIL
// =========
.thumbnail-container {
	display: flex;
	flex-direction: column;
	margin: .5em;
}

.thumbnail-content {
	align-items: center;
	background-color: $primary-1;
	border: 1px solid silver;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	height: 96px;
	width: 96px;
	text-align: center;
	font-size: x-small;
}

.thumbnail-content.has-thumbnail {
	display: inline-block;
}

.thumbnail-footer {
	border: 1px solid silver;
	border-top: none;
	text-align: center;
}

// STATUS
// ======
.ERROR {
	background-color: lightpink;
	border-color: darkred;
	color: darkred;
}

.READING {
	background-color: lightskyblue;
	border-color: $secondary-7;
	color: $secondary-7;
}

.STORED {
	background-color: $primary-1;
	border-color: silver;
}

.UPLOADING {
	background-color: $primary-2;
	border-color: $primary-5;
}
