<div class="file is-centered is-small">
	<label [class]="'file-label ' + uploadDisabledClass()">
		<input class="file-input" type="file" (change)="onInputFileChange($event)" [disabled]="uploadDisabledClass()" accept="image/*" multiple >
		<span	[class]="'file-cta ' + uploadDisabledClass()">
			<i class="fas fa-image file-icon"></i> Add images
		</span>
	</label>
</div>

<div class="error-message is-danger help" *ngIf="error">
	<i class="fa fa-warning"></i>{{error}}
</div>

<div class="gallery is-fullwidth">
	<div *ngFor='let attachment of attachments'>

		<div *ngIf="attachment.status!='DELETED'" class="thumbnail-container">
			<div [class]="'thumbnail-content ' + attachment.status">
				<p *ngIf="attachment.status=='STORED' && !attachment.thumbnailUrl">{{attachment.name}}</p>
				<a *ngIf="attachment.status=='STORED' && attachment.thumbnailUrl" href="{{attachment.originalUrl}}" target="_blank">
					<img src="{{attachment.thumbnailUrl}}">
				</a>
				<p *ngIf="attachment.status=='UPLOADING'">
					Uploading...<br><i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;{{attachment.percentageUploaded}}%
				</p>
				<p *ngIf="attachment.status=='READING'">
					Reading file...<br><i class="fas fa-spinner fa-pulse"></i>
				</p>
				<p *ngIf="attachment.status=='ERROR'">
					{{attachment.error}}
				</p>
			</div>
			<div class="thumbnail-footer">
				<i class="fas fa-trash mt-table-icon" (click)="delete(attachment)"></i>
			</div>
		</div>
	</div>

</div>