<div *ngIf="canUpload" class="file is-centered is-small">
	<label [class]="'file-label ' + uploadDisabledClass()">
		<input class="file-input" type="file" (change)="onInputFileChange($event)" [disabled]="uploadDisabledClass()" accept="image/*" multiple >
		<span	[class]="'file-cta ' + uploadDisabledClass()">
			<i class="fas fa-image file-icon"></i> Add images
		</span>
	</label>
</div>

<div class="error-message is-danger help" *ngIf="error">
	<i class="fa fa-warning"></i>{{error}}
</div>

<div class="gallery is-fullwidth">
	<div *ngFor='let attachment of attachments'>

		<div *ngIf="displayThumbnailContent(attachment)" class="thumbnail-container">
			<div [class]="classForThumbnailContent(attachment)">
				<a *ngIf="displayThumbnailLink(attachment)" href="{{attachment.originalUrl}}" target="_blank">
					<p *ngIf="!displayThumbnailImage(attachment)">{{attachment.name}}</p>
					<img *ngIf="displayThumbnailImage(attachment)" src="{{attachment.thumbnailUrl}}" (error)="thumbnailImageError($event, attachment)">
				</a>
				<p *ngIf="attachment.status=='UPLOADING'">
					Uploading...<br><i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;{{attachment.percentageUploaded}}%
				</p>
				<p *ngIf="attachment.status=='READING'">
					Reading file...<br><i class="fas fa-spinner fa-pulse"></i>
				</p>
				<p *ngIf="attachment.status=='ERROR'">
					{{attachment.error}}
				</p>
			</div>
			<div *ngIf="canDelete" class="thumbnail-footer">
				<i class="fas fa-trash mt-table-icon" (click)="delete(attachment)"></i>
			</div>
		</div>
		
	</div>
</div>