@import '~variables.scss';

.error-message {
	text-align: center;
}

// FILE
// ====
.file {
	margin-bottom: .5em;
}

.file-cta {
	background-color: $secondary-5;
	color: white;
}

.file-cta:hover {
	background-color: $secondary-6;
	color: white;
}

.file-cta.disabled {
	background-color: gainsboro;
	color: greay;
	cursor: not-allowed;
}

.file-label.disabled {
	cursor: not-allowed;
}

.gallery  {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.gallery.align-left  {
	justify-content: left;
}

// THUMBNAIL
// =========
.thumbnail-container {
	display: flex;
	flex-direction: column;
	margin: .25em;
}

.thumbnail-footer {
	border: 1px solid silver;
	border-top: none;
	text-align: center;
}
