@import '~variables.scss';

.error-message {
	text-align: center;
}

.file {
	margin-bottom: .5em;
}

.file-cta {
	background-color: $secondary-5;
	color: white;
}

.file-cta:hover {
	background-color: $secondary-6;
	color: white;
}

.file-cta.disabled {
	background-color: gainsboro;
	color: greay;
	cursor: not-allowed;
}

.file-label.disabled {
	cursor: not-allowed;
}

.gallery  {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

%thumbnail {
	align-items: center;
	display: flex;
	border: 1px solid silver;
	font-size: x-small;
	height: 98px;
	justify-content: center;
	margin: .15em .15em .15em .15em;
	text-align: center;
	width: 98px;
}

.thumbnail {
	@extend %thumbnail;
}

.thumbnail-done {
	@extend %thumbnail;
	display: block;
}

.thumbnail-error {
	@extend %thumbnail;
	background-color: pink;
	border: 1px solid maroon;
	color: maroon;
}

.thumbnail-reading {
	@extend %thumbnail;
	background-color: lightskyblue;
	border: 1px solid navy;
	color: navy;
}

.thumbnail-uploading {
	@extend %thumbnail;
	background-color: $primary-2;
	border: 1px solid $primary-5;
	color: $primary-7;
}

.thumbnail-button {
	@extend %thumbnail;
	font-size: small;
	background-color: #eeeeee;
	border-radius: 3px;
}

.thumbnail-button:hover {
	background-color: gainsboro;
}
