<div *ngIf="canUpload" class="file is-centered is-small">
	<label [class]="'file-label ' + uploadDisabledClass()">
    <input class="file-input" 
      type="file" 
      (change)="onInputFileChange($event)" 
      [disabled]="uploadDisabledClass()" 
      accept="image/*" 
      multiple >
		<span	[class]="'file-cta ' + uploadDisabledClass()">
			<i class="fas fa-image file-icon"></i> Add images
		</span>
	</label>
</div>

<div class="error-message is-danger help" *ngIf="error">
	<i class="fa fa-warning"></i>{{error}}
</div>

<div [class]="classGalery()">
	<div *ngFor='let attachment of attachments'>
		<div *ngIf="displayThumbnailContainer(attachment)" class="thumbnail-container">
			<div [class]="classThumbnailContent(attachment)">
        <app-attachment-thumbnail [attachment]="attachment" [size]="96"></app-attachment-thumbnail>
			</div>
			<div *ngIf="canDelete" class="thumbnail-footer">
				<i class="fas fa-trash mt-table-icon" (click)="delete(attachment)"></i>
			</div>
		</div>
    <app-image-modal 
      [isActive]="isAttachmentOpen(attachment)" 
      [imageSource]="attachment.originalUrl" 
      (onClose)="closeAttachment($event)">
    </app-image-modal>
	</div>
</div>