@import '../../../../styles/variables.scss';

.attachment-actions {
	display: flex;
	justify-content: center;
	height: 27px;
}

.attachment-action {
	color: $gray-400;
	cursor: pointer;
	margin: -5px 0 -3px 0;
	padding: 7px 10px 0px 10px;
}

.attachment-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.attachment-loading {
	align-items: center;
	background-color: white;
	display: flex;
	justify-content: center;
	opacity: .90;
	height: 128px;
	position: absolute;
	width: 128px;
	z-index: 5;
}

.attachment-panel {
	border: 1px solid silver;
	margin: .125em;
	width: 128px;
}

.attachment-thumbnail {
	align-items: center;
	cursor: pointer;
	display: flex;
	justify-content: center;
	height: 128px;
	width: 128px;
}
