@import '../../../../styles/variables.scss';

.attachment-actions {
	display: flex;
	justify-content: center;
}

.attachment-action {
	color: $gray-400;
	cursor: pointer;
	margin: -2px;
	padding: .25em .5em .125em .5em;
}

.attachment-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.attachment-panel {
	border: 1px solid silver;
	margin: .125em;
	width: 128px;
}

.attachment-thumbnail {
	height: 128px;
	width: 128px;
}

app-attachment-uploader {
	margin: .125em;
	width: 128px;
}
