.actions-container {
	display: flex;
	justify-content: center;
	height: 36px;
}

button {
	margin: 0 .5em 0 .5em;
}

.action-round-button {
	cursor: pointer;
	display: flex;
	margin: 0 1.5em 0 1.5em;
	padding: 5px 15px 0px 15px;
}

.image-preview-overlay {
	background-color: blueviolet;
	position: absolute;
	height: 230px;
	opacity: 0.25;
	width: 300px;
	z-index: 5;
}


