@import '~variables.scss';

.mt-page-title {
  color: $primary-7;
	font-weight: bold;
	height: 45px;
	padding-top: 8px;
	margin-bottom: .5em;
}

.mt-page-title i {
  margin: 0em .5em 0em 1em;
  padding: 0em 0em 0em 0em;
}

.mt-page-title-icon {
  margin: 0em 0.5em 0em 0em;
}
