@import '~variables.scss';

.mt-page-title {
	// background: linear-gradient(
	// 	whitesmoke 0px,
	// 	whitesmoke 40px,
	// 	$primary-7 40px,
	// 	$primary-7 42px,
	// 	gainsboro 42px,
	// 	transparent 100%);
  color: $primary-7;
	font-weight: bold;
	height: 45px;
	padding-top: 8px;
}

.mt-page-title i {
  margin: 0em .5em 0em 1em;
  padding: 0em 0em 0em 0em;
}

.mt-page-title-icon {
  margin: 0em 0.5em 0em 0em;
}
