@import '../../../styles/variables.scss';

app-dropdown {
  float: right;
  margin-right: .5em;
}

.article-name {
  margin: 1em 0em .5em 0em;
}

.article-description {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
  font-weight: lighter;
  margin: 0em 0em 1em 1em;
  white-space: pre-wrap;
}

.row:hover {
  cursor: pointer;
  background-color: $gray-50;
}

.row:active {
  background-color: $gray-200;
}

table {
  margin-bottom: .25em;
  width: 100%;
}
