@import '~variables.scss';

.errata {
  margin: 1em 1em 1em 1em;
  border-style: dotted;
  border-width: 1px;
  border-color: $primary-6;
  background-color: $primary-1;
}

.errata li {
  margin: 0.5em 0.5em 0.5em 0.5em;
  color: $primary-9;
}