<div class="mt-content">
  <app-content-title title="Trade" icon="swap_horiz"></app-content-title>
</div>

<div class="mt-content">
  <app-message-panel *ngIf="errorMessage" message="{{errorMessage}}"></app-message-panel>
</div>

<app-spinner [visible]="loading"></app-spinner>

<div *ngIf="showContent()" class="mt-content">
  <form class="mt-form" [formGroup]="tradeFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        matInput
        [formControl]="tradeFormGroup.controls['name']"
        placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        [formControl]="tradeFormGroup.controls['description']"
        placeholder="Description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="4"
        cdkAutosizeMaxRows="30">
      </textarea>
    </mat-form-field>
    <div>
      <button *ngIf="!tradeFormGroup.disable" mat-flat-button color="primary" type="submit">OK</button>
    </div>
  </form>
</div>