<app-content-title class="mt-content" title="Trade" icon="swap_horiz"></app-content-title>

<app-message-banner class="mt-content"></app-message-banner>

<app-spinner [visible]="loading"></app-spinner>

<div [class]="classMainForm()">
  <form #tradeForm class="mt-form" [formGroup]="tradeFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput [formControl]="nameFormControl" placeholder="Name" required>
      <mat-error>Name is mandatory and must contain between 3 and 150 characters</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="showStatus()" class="trade-status">
      <mat-select placeholder="Status" [formControl]="stateFormControl" required>
        <mat-option *ngFor="let state of availableStates" [value]="state.key">{{state.value}}</mat-option>
      </mat-select>
    </mat-form-field>

    <app-text-editor
      [formControl]="descriptionFormControl"
      [form]="tradeForm"
      label="Description"
      errorMessage="Description is mandatory and must contain between 10 and 11000 characters"
      required="true"
      minLength="10"
      maxLength="11000">
    </app-text-editor>
    <div class="mt-action-panel">
      <button *ngIf="showSaveButton()" mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>