<app-content-title #title class="mt-content" title="Trade" icon="swap_horiz"></app-content-title>

<app-message-banner class="mt-content" *ngIf="hasMessage()" [message]="messageText" [type]="messageType" [icon]="messageIcon"></app-message-banner>

<app-spinner [visible]="loading"></app-spinner>

<div [class]="classMainForm()">
  <form class="mt-form" [formGroup]="tradeFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput [formControl]="tradeFormGroup.controls['name']" placeholder="Name" required>
    </mat-form-field>
    <mat-form-field *ngIf="showStatus()" class="trade-status">
      <mat-select placeholder="Status" [formControl]="stateFormControl" required>
        <mat-option *ngFor="let state of availableStates" [value]="state.key">{{state.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-text-editor #descriptionTextEditor *ngIf="!loading" [initialValue]="trade.description" [readOnly]="tradeFormGroup.disabled" [label]="'Description'"></app-text-editor>
    <div class="mt-action-panel">
      <button *ngIf="showSaveButton()" mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
