<div class="mt-content card-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign-in to Mach &amp; Trade</mat-card-title>
      <mat-card-subtitle>Using one of the platforms below</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="authentication-provider">
          <a href="/matchandtrade-api/v1/authenticate"><img src="/assets/btn_google_signin_dark_normal_web.png" alt="Sign-in with Google"></a>
      </div>
    </mat-card-content>
  </mat-card>
</div>