@import './material-design-theme.scss';
@import './variables.scss';
@import '~jodit/build/jodit.min.css';
@import '~quill/dist/quill.snow.css';

// Breakpoints as defined in material design specs
@media not screen and (max-width: 600px) {
  .hide-in-large-devices {
    display: none;
  }
  .mt-content {
    padding: 0em 1em 0em 1em;
  }
} 
@media only screen and (max-width: 600px) {
  .hide-in-small-devices {
    display: none;
  }
  .mt-content {
    padding: 0em 0em 0em 0em;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $gray-50;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mt-form {
  display: flex;
  flex-direction: column;
}
.mt-form > * {
  width: 100%;
}

.mt-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20em;
}

.mt-action-panel {
  display: flex;
  justify-content: center;
  margin: 1em 0em 1em 0em;
}

.mt-hide {
  display: none;
}

// ========================
// Material Design Override
// ========================
// <mat-paginator/>: Hide next/previous page when disabled
.mat-icon-button[disabled][disabled] {
  color: transparent;
}
// <mat-paginator/>: Margin
.mat-paginator .mat-paginator-container {
  min-height: 0;
}
// <mat-form-field>: Hide border when disabled
.mat-input-element:disabled  {
  color: $dark-text;
}
// <mat-form-field>: Add left border
.mat-form-field-infix {
  margin-left: 6px;
}
%mat-form-field-infix-common {
  content: "";
  height: 100%;
  margin-left: -6px;
  position: absolute;
  top: 0;
  width: 3px;
}
.mat-form-field-disabled .mat-form-field-flex .mat-form-field-infix::before {
  @extend %mat-form-field-infix-common;
  background-color: transparent;
}
.mat-form-field-infix::before {
  @extend %mat-form-field-infix-common;
  background-color: $primary-color-200;
}
// <mat-select>: Change text color when disabled
.mat-select-disabled .mat-select-value {
  color: $dark-text;
}
// <mat-select>: Hide arrow when disabled
.mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
  color: transparent;
}
