$dark-text: rgba(black, 0.87);
$light-text: white;

// Color map based on material design pallets: https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss
$color-map-primary: (
  50: #ede7f6,
  100: #d1c4e9,
  200: #b39ddb,
  300: #9575cd,
  400: #7e57c2,
  500: #673ab7,
  600: #5e35b1,
  700: #512da8,
  800: #4527a0,
  900: #311b92,
  A100: #b388ff,
  A200: #7c4dff,
  A400: #651fff,
  A700: #6200ea,
  contrast: (
    50: $dark-text,
    100: $dark-text,
    200: $dark-text,
    300: $light-text,
    400: $light-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
    A100: $dark-text,
    A200: $light-text,
    A400: $light-text,
    A700: $light-text,
  )
);

$color-map-accent: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcc80,
  300: #ffb74d,
  400: #ffa726,
  500: #ff9800,
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: $dark-text,
    100: $dark-text,
    200: $dark-text,
    300: $dark-text,
    400: $dark-text,
    500: $dark-text,
    600: $dark-text,
    700: $dark-text,
    800: $light-text,
    900: $light-text,
    A100: $dark-text,
    A200: $dark-text,
    A400: $dark-text,
    A700: black,
  )
);

$color-map-warn: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #ec407a,
  500: #e91e63,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: $dark-text,
    100: $dark-text,
    200: $dark-text,
    300: $dark-text,
    400: $dark-text,
    500: $light-text,
    600: $light-text,
    700: $light-text,
    800: $light-text,
    900: $light-text,
    A100: $dark-text,
    A200: $light-text,
    A400: $light-text,
    A700: $light-text,
  )
);

$primary-color: map-get($color-map-primary, 500);
$primary-color-50: map-get($color-map-primary, 50);
$primary-color-100: map-get($color-map-primary, 100);
$primary-color-200: map-get($color-map-primary, 200);
$primary-color-700: map-get($color-map-primary, 700);
$primary-color-900: map-get($color-map-primary, 900);
$gray-50: #fafafa;
$gray-200: #eeeeee;
$gray-400: #666666; // Confirm this value
$accent-color: map-get($color-map-accent, 500);
// TODO: Create an info color-map
$info-color-50: #E0F2F1;
$info-color-100: #B2DFDB;
$info-color-800: #00695C;
$warn-color: map-get($color-map-warn, 500);
$warn-color-50: map-get($color-map-warn, 50);
$warn-color-300: map-get($color-map-warn, 300);
$warn-color-800: map-get($color-map-warn, 900);
