<app-page-title [template]="'item-matcher-offer'"></app-page-title>
<app-loading [loading]="loading"></app-loading>
<app-message [message]="message"></app-message>

<div *ngIf="!loading && offerableItems.length<1" class="not-found-container mt-content">
  <div class="not-found-content">
    <p>You did not submit any items.</p>
    <p>As a result, you cannot make offers in this trade <i class="fa fa-frown-o" aria-hidden="true"></i></p>
  </div>
</div>

<div *ngIf="!loading && offerableItems.length>0" class="mt-content">
  <div class="wanted-item-header">
    <app-attachment-thumbnail [attachment]="wantedItemAttachment" [size]="64"></app-attachment-thumbnail>
    <div class="wanted-item-summary">
      <div class="wanted-item-summary-name">{{wantedItem.name}}</div>
      <div>
        <button class="button is-secondary is-small" type="button" (click)="toogleMoreInfo(wantedItem)">
          <i class="fas fa-info"></i><span class="small-button-text">{{obtainInfoText()}}</span>
        </button>
      </div>
    </div>
  </div>
  <app-item-mini-view *ngIf="wantedItemExpandedInfo" [itemHref]="wantedItem._href"></app-item-mini-view>
  <p class="selection-note">
		Note: you can select multiple items to increase your chances but only one of the selected items would be exchanged.
	</p>
  <div>
    <table id="offering-items-table" class="table mt-table-hoverable is-striped is-fullwidth">
			<tr *ngFor="let offerableItem of obtainOfferableItemsForCurrentPage()">
				<td class="offering-item-cell" (click)="toogleOfferableItem(offerableItem)">
					<div>
						<input
							class="item-offer-checkbox"
							type="checkbox"
							[checked]="offerableItem.checked()">
					</div>
					<div id="item-offer-name">{{offerableItem.name}}</div>
				</td>
			</tr>
    </table>
    <app-pagination
      [loading]="loading"
      [pagination]="pagination"
			(onGoToPage)="goToPage($event)">
		</app-pagination>
  </div>

  <div class="mt-cmd-panel-container">
    <button 
      class="mt-cmd-panel-first button is-primary"
      (click)="navigateBack()">
      <i class="fa fa-backward" aria-hidden="true"></i>Back
    </button>
    <button
      class="mt-cmd-panel-last button is-primary"
      id="save-offer"
      type="submit"
      [disabled]="isSaveEnabled()"
      (click)="save()">
      <i class="fas fa-save" aria-hidden="true"></i>Save
    </button>
  </div>

</div>
