.item-offer-checkbox {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
	cursor: pointer;
	margin-right: 1em;
}

.not-found-container {
  align-items: center;
  display: flex;
  height: 20em;
  justify-content: center;
	text-align: center;
  width: 100%;
}

.wanted-item-paragraph {
  margin: 1em 0em 1em 0em;
}

.offering-item-cell {
	display: flex;
}
