.item-offer-checkbox {
  width: 1.25em;
  height: 1.25em;
  vertical-align: middle;
	cursor: pointer;
	margin-right: 1em;
}

.more-info {
  font-size: smaller;
}

.not-found-container {
  align-items: center;
  display: flex;
  height: 20em;
  justify-content: center;
	text-align: center;
  width: 100%;
}

.selection-note {
  font-size: smaller;
  margin-top: 1em;
}

.offering-item-cell {
	display: flex;
}
