<app-erratum [errata]="errata"></app-erratum>
<app-loading [loading]="loading && !pagination.totalEntries" [containerHeight]="15" [imageHeight]="5"></app-loading>

  <div *ngIf="!loading && !pagination.totalEntries" class="trades-not-found">
    <span class="align-helper"></span>
    <span>No trades available at this time <i class="fa fa-frown-o" aria-hidden="true"></i></span>
  </div>

  <div *ngIf="pagination.totalEntries">
    <div>
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <caption>Trades</caption>
        <tbody>
          <tr *ngFor="let t of trades">
            <td class="mt-table-row-clickable" routerLink="/trades/{{t.tradeId}}">{{t.name}}</td>
          </tr>
        </tbody>
      </table>

      <app-pagination
        [loading]="loading"
        [pagination]="pagination"
        (onNextPage)="nextPage()"
        (onPreviousPage)="previousPage()"></app-pagination>
    </div>

</div>