@import '../../../styles/variables.scss';

table {
  width: 100%;
}
.row:hover {
	cursor: pointer;
	background-color: $gray-50;
}
.row:active {
	background-color: $primary-color-50;
}

.trade-name {
	font-size: large;
	font-weight: bold;
	margin: 1em 0em .5em 0em;
}
.trade-description {
	font-size: medium;
	margin: 0em 0em 1em 0em;
}