<app-content-title class="mt-content" title="Trades" icon="swap_horiz"></app-content-title>

<app-message-banner class="mt-content" *ngIf="hasMessage()" [message]="messageText" [type]="messageType" [icon]="messageIcon"></app-message-banner>

<app-spinner [visible]="loading"></app-spinner>

<div *ngIf="!loading" class="mt-content">
	<table mat-table [dataSource]="trades" class="mat-elevation-z3">
		<ng-container matColumnDef="col-name">
      <td mat-cell *matCellDef="let trade" (click)="navigateToTrade(trade)">
        <div class="trade-name">{{trade.name}}</div>
        <pre class="trade-description">{{trade.description}}</pre>
      </td>
    </ng-container>
    <tr class="row" mat-row *matRowDef="let row; columns: ['col-name']"></tr>
  </table>
	<mat-paginator
	[hidePageSize]="true"
	[length]="pagination.totalEntries"
	(page)="onPageChange($event)"
	[pageIndex]="pagination.page.number-1"
	[pageSize]="pagination.page.size">
</mat-paginator>
</div>

<div *ngIf="!loading" class="mt-content mt-action-panel">
	<button mat-flat-button color="primary" (click)="navigateToTrade()">Create</button>
</div>
