@import '~variables.scss';

.add-images-button {
	background-color: $secondary-5;
	border-radius: 3px;
	display: block;
	color: white;
	cursor: pointer;
	font-size: small;
	margin-bottom: .5em;
	padding: .25em 0em .25em 0em;
	text-align: center;
	width: 9em;
}

.add-images-button:hover {
	background-color: $secondary-6;
}

.add-images-button-icon {
	margin-top: .02em;
}

.file-upload-content  {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

%image-info {
	align-items: center;
	display: flex;
	border: 1px solid silver;
	font-size: x-small;
	height: 98px;
	justify-content: center;
	margin: .15em .15em .15em .15em;
	text-align: center;
	width: 98px;
}

.image-info {
	@extend %image-info;
}

.image-info-error {
	@extend %image-info;
	background-color: pink;
	border: 1px solid maroon;
	color: maroon;
}

.image-info-uploading {
	@extend %image-info;
	background-color: $primary-2;
	border: 1px solid $primary-5;
	color: $primary-7;
}

.image-info-button {
	@extend %image-info;
	font-size: small;
	background-color: #eeeeee;
	border-radius: 3px;
}

.image-info-button:hover {
	background-color: gainsboro;
}
