<div align="center">
	<label class="add-images-button is-small">
		Add images &nbsp;<span class="add-images-button-icon"><i class="fas fa-image"></i></span>
		<input class="file-input" type="file" (change)="onInputFileChange($event)" multiple>
	</label>
</div>

<div class="error-message is-danger help" *ngIf="error">
	<i class="fa fa-warning"></i>{{error}}
</div>

<div class="file-upload-content is-fullwidth">
	<div *ngFor='let file of files'>
		<div class="image-info-uploading" *ngIf="file.status=='UPLOADING'">
			<div>Uploading<br><i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;{{file.percentageUploaded}}%</div>
		</div>
		<div class="image-info-error" *ngIf="file.status=='ERROR'">
			<div>{{f.error}}</div>
		</div>
		<figure class="image-info" *ngIf="file.thumbnailUrl">
			<img src="{{file.thumbnailUrl}}">
		</figure>
	</div>
</div>
