<div class="file is-centered is-small">
	<label class="file-label">
		<input class="file-input" type="file" (change)="onInputFileChange($event)" multiple>
		<span class="file-cta">
			<span class="file-label">
				Add images &nbsp;
			</span>
			<span class="file-icon">
				<i class="fas fa-upload"></i>
			</span>
		</span>
	</label>
</div>

<div class="error-message is-danger help" *ngIf="error">
	<i class="fa fa-warning"></i>{{error}}
</div>

<div class="gallery is-fullwidth">
	<div *ngFor='let file of files'>
		<div class="thumbnail-uploading" *ngIf="file.status=='UPLOADING'">
			<div>Uploading<br><i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;{{file.percentageUploaded}}%</div>
		</div>
		<div class="thumbnail-error" *ngIf="file.status=='ERROR'">
			<div>{{f.error}}</div>
		</div>
		<figure class="thumbnail" *ngIf="file.thumbnailUrl">
			<img src="{{file.thumbnailUrl}}">
		</figure>
	</div>
</div>
