@import '../styles/variables.scss';

@media not screen and (max-width: 600px) {
  .toolbar {
    min-height: 64px;
  }
}
@media only screen and (max-width: 600px) {
  .toolbar {
    min-height: 30px;
  }
}

.horizontal-divider {
  background-color: $primary-color-200;
  height: 3px;
}

.home-title {
  cursor: pointer;
  height: 3em;
  line-height: 3em;
  // Increase hitting area
  margin: 0em 2em 0em -1em;
  padding: 0em 1em 0em 1em;
}

.toolbar {
  background-color: $primary-color;
}

.toolbar-filler {
  flex: 100 0 auto;
  max-width: 1024px;
}

.layout-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.layout-side {
  flex: 1 1 auto;
}

.layout-center {
  max-width: 1024px;
  height: 100%;
  width: 100%;
  background-color: white;
}

.layout-content {
  display: flex;
  flex-direction: column;
}
