
.horizontal-divider {
	background-color: lavender;
	height: 3px;
}

.layout {
  display: flex;
}

.layout-center {
	flex: 10 0 auto;
  max-width: 1024px;
}

.layout-content {
	display: block;
	flex: 1 1 auto;
	max-width: 1024px;
}

.layout-side {
	flex: 1 0 auto;
}

.primary-background-color {
	background-color: #673ab7; // TODO: Variable
}




.menu-mobile-items {
	background-color: rebeccapurple; // TODO: variable
	color: white;
  max-height: 0px;
  overflow: hidden;
	transition: max-height 0.15s ease-out;
}
.menu-mobile-item {
	display: flex;
	padding: .5em 0em .5em 2em;
}
.menu-mobile-item .mat-icon {
	margin: 0em .5em 0em 0em;
}
.menu-mobile-item:hover {
	background-color: #673ab7; // TODO: variable
}
.menu-mobile-expanded {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

