@import '../styles/variables.scss';

.horizontal-divider {
	background-color: $primary-color-200;
	height: 3px;
}

.home-title {
	cursor: pointer;
	height: 3em;
	line-height: 3em;
	// Increase hitting area
	margin: 0em 2em 0em -1em;
	padding: 0em 1em 0em 1em;
}

.layout {
  display: flex;
}
.layout-center {
	flex: 100 0 auto;
  max-width: 1024px;
}
.layout-content {
	display: block;
	flex: 1 1 auto;
	max-width: 1024px;
	width: 100%;
}
.layout-side {
	flex: 1 0 auto;
}

.menu-mobile-items {
	background-color: $primary-color-700;
	color: white;
  max-height: 0px;
  overflow: hidden;
	transition: max-height 0.15s ease-out;
}
.menu-mobile-item {
	display: flex;
	padding: .5em 0em .5em 2em;
}
.menu-mobile-item .mat-icon {
	margin: 0em .5em 0em 0em;
}
.menu-mobile-item:hover {
	background-color: $primary-color;
	cursor: pointer;
}
.menu-mobile-expanded {
  max-height: 800px;
  transition: max-height 0.25s ease-in;
}

.primary-background-color {
	background-color: $primary-color;
}
