<app-page-title [template]="(tradeHref ? 'existing' : 'new') + '-trade'"></app-page-title>
<app-message [message]="message"></app-message>
<app-loading [loading]="loading" [containerHeight]="15" [imageHeight]="5"></app-loading>

<form *ngIf="!loading" [formGroup]="tradeFormGroup" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label" for="trade-name">Name</label>
    <div class="control">
      <textarea
        autosize
        rows=1
        (keydown.enter)="onSubmit()"
        id="trade-name"
        class="textarea"
        [formControl]="tradeFormGroup.controls['name']"
        type="text"
        placeholder="Trade name"></textarea>
    </div>
    <p class="help is-danger" *ngIf="!nameFormControl.valid && nameFormControl.touched">
      <i class="fa fa-warning"></i>Trade name is mandatory and its length must be between 3 and 150.
    </p>
  </div>

  <div class="field" *ngIf="isStateDisplayable()">
    <label class="label" for="trade-state">Status</label>
    <div class="control">
      <div class="select">
        <select id="trade-state" [formControl]="tradeFormGroup.controls['state']">
          <option *ngFor="let s of states" [value]='s.key'>{{s.value}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="mt-cmd-panel-container">
    <button 
      class="mt-cmd-panel-first button is-primary"
      type="button"
      (click)="navigateBack()">
      <i class="fa fa-backward" aria-hidden="true"></i>Back
    </button>
    <button 
      class="mt-cmd-panel-middle button is-primary"
      id="subscribe-to-trade-button"
      *ngIf="displaySubscribeButton()"
      type="button" 
      (click)="onSubscribe()">
      <i class="fas fa-address-card"></i>Subscribe
    </button>
    <button
      class="mt-cmd-panel-middle button is-primary"
      id="match-items-button"
      *ngIf="displayMatchItemsButton()"
      type="button"
      (click)="onMatchItems()">
      <i class="fa fa-map-signs" aria-hidden="true"></i>Match Items
    </button>
    <button
      class="mt-cmd-panel-middle button is-primary"
      id="items-button"
      *ngIf="displayItemsButton()"
      type="button"
      (click)="onItems()">
      <i class="fa fa-cube" aria-hidden="true"></i>Items
    </button>
    <button 
      class="mt-cmd-panel-middle button is-primary"
      id="download-results-button"
      *ngIf="displayResultsButton()"
      type="button"
      (click)="onResults()">
      <i class="fa fa-file-alt" aria-hidden="true"></i>Results
    </button>		
    <button
      class="mt-cmd-panel-last button is-primary"
      id="save-trade-button"
      type="submit"
      [disabled]="(tradeFormGroup.valid && tradeFormGroup.dirty) ? null : 'disabled'">
      <i class="fas fa-save" aria-hidden="true"></i>Save
    </button>
  </div>
</form>
