<form class="mt-content mt-form" [formGroup]="tradeFormGroup" (ngSubmit)="onSubmit()">
	<mat-form-field>
		<input
			class="mt-input"
			matInput 
			[formControl]="tradeFormGroup.controls['name']"
			placeholder="Name">
	</mat-form-field>
	<mat-form-field>
		<textarea
			class="mt-input"
			matInput
			[formControl]="tradeFormGroup.controls['description']"
			placeholder="Description"
			rows="4">
		</textarea>
	</mat-form-field>
	<div>
		<button mat-flat-button color="primary" type="submit">OK</button>
	</div>
</form>
