<app-content-title class="mt-content" title="Article" icon="redeem"></app-content-title>

<app-message-banner class="mt-content"></app-message-banner>

<app-spinner [visible]="loading"></app-spinner>

<div [class]="classMainForm()">

  <form class="mt-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput [formControl]="formGroup.controls['name']" placeholder="Name" required>
      <mat-error>Article name is manadatory and must contain between 3 and 150 characters</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      [formControl]="formGroup.controls['description']"
      placeholder="Description"
      cdkTextareaAutosize
      cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="30">
    </textarea>
    <mat-error>Article description must contain between 3 and 1000 characters</mat-error>
  </mat-form-field>
  
  <app-attachment-gallery [attachments]="attachments"></app-attachment-gallery>
  
  <div class="mt-action-panel">
    <button *ngIf="showSaveButton()" mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
</div>
