// See vertical alignment strategy: http://jsfiddle.net/kizu/4RPFa/4570/
@import '~variables.scss';

.app-loading {
    width: 100%;
    text-align: center;
    color: $primary-5;
}

.app-loading-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
