// See vertical alignment strategy: http://jsfiddle.net/kizu/4RPFa/4570/
@import '~variables.scss';

.app-loading {
  align-items: center;
  color: $primary-4;
  display: flex;
  justify-content: center;
}
