@import '../../../styles/variables.scss';

%message {
  align-items: center;
  border-radius: 5px;
  display: flex;
  margin-bottom: 1em;
  padding: .3em .5em .3em .5em;
}

.info-message {
  @extend %message;
  background-color: $info-color-50;
  border: 2px solid $info-color-800;
  color: $info-color-800;
}

.error-message {
  @extend %message;
  background-color: $warn-color-50;
  border: 2px solid $warn-color-300;
  color: $warn-color-800;
}

.icon {
  margin-top: .3em;
}

.material-icons {
  font-size: 1.75em;
}

.message-text {
  margin-left: .5em;
}
