/* You can add global styles to this file, and also import other style files */
@import '~variables.scss';

caption {
  background-color: $primary-7;
  border: 1px solid $primary-8;
  color: white;
  font-weight: bolder;
  font-size: small;
}

.mt-table-row-clickable:hover {
  background-color: $primary-1;
  cursor: pointer;
}

.mt-table-row-clickable:active {
  background-color: $primary-4;
  border-color: $primary-6;
  cursor: progress;
}
