/* You can add global styles to this file, and also import other style files */
@import '~variables.scss';

caption {
  background-color: $primary-7;
  border: 1px solid $primary-8;
  color: white;
  font-weight: bolder;
  font-size: small;
}

.is-primary:focus {
	outline: 2px solid $primary-4;
	outline-offset: 2px;
}

.navbar-item:focus {
	outline: 1px solid $primary-7;
	outline-offset: 0px;
}

.mt-table-row-clickable:hover {
  background-color: $primary-1;
  cursor: pointer;
}

.mt-table-row-clickable:active {
  background-color: $primary-4;
  border-color: $primary-6;
  cursor: progress;
}

.mt-table-row-clickable:focus {
	outline: 1px solid $primary-7;
}

.mt-control-panel {
  padding: 2em 0em 2em 0em;
  text-align: center;
}

.mt-control-panel i {
  margin-right: 0.5em;
}

.mt-control-panel button {
  margin-left: .5em;
}