$primary-10: #331500;
$primary-9: #662b00;
$primary-8: #994000;
$primary-7: #cc5600;
$primary-5: #ff8000;
$primary-6: #f57600;
$primary-4: #ffa64d;
$primary-3: #ffda99;
$primary-2: #ffeccc;
$primary-1: #fffdf6;
