<app-message [message]="message"></app-message>
<app-loading [loading]="loading" [containerHeight]="15" [imageHeight]="5"></app-loading>

<form *ngIf="!loading" [formGroup]="tradeFormGroup" (ngSubmit)="onSubmit()">
  <div class="field">
    <label class="label" for="trade-name">Name</label>
    <div class="control">
      <input
        id="trade-name"
        class="input"
        [formControl]="tradeFormGroup.controls['name']"
        type="text"
        placeholder="Trade name">
    </div>
    <p class="help is-danger" *ngIf="!nameFormControl.valid && nameFormControl.touched">
        <i class="fa fa-warning"></i>Trade name is mandatory and its length must be between 3 and 150.
    </p>
  </div>

  <div class="field" *ngIf="isStateDisplayable()">
    <label class="label" for="trade-state">State</label>
    <div class="control">
      <div class="select">
        <select id="trade-state" class="select" [formControl]="tradeFormGroup.controls['state']">
          <option *ngFor="let s of states" [value]='s.key'>{{s.value}}</option>
        </select>
      </div>
    </div>
  </div>  

  <div class="mt-control-panel is-pulled-right">
      <button 
        class="button is-primary" 
        id="submit-items-button"
        *ngIf="displaySubmitItemsButton()"
        type="button"
        (click)="onSubmitItems()">
        <i class="fa fa-id-card-o" aria-hidden="true">??</i>Submit Items
      </button>
      <button 
        class="button is-primary" 
        id="subscribe-to-trade-button"
        *ngIf="displaySubscribeButton()"
        type="button" 
        (click)="onSubscribe()">
        <i class="fa fa-id-card-o" aria-hidden="true"></i>Subscribe
      </button>
      <button
        class="button is-primary"
        id="save-trade-button"
        type="submit"
        [disabled]="(tradeFormGroup.valid && tradeFormGroup.dirty) ? null : 'disabled'">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>Save
      </button>
  </div>
</form>
